<p id="notice"><%= notice %></p>

<h1>Hoblis</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Taluk</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hoblis.each do |hobli| %>
      <tr>
        <td><%= hobli.name %></td>
        <td><%= hobli.taluk %></td>
        <td><%= link_to 'Show', hobli %></td>
        <td><%= link_to 'Edit', edit_hobli_path(hobli) %></td>
        <td><%= link_to 'Destroy', hobli, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hobli', new_hobli_path %>
