<p id="notice"><%= notice %></p>

<h1>Rranges</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Zone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rranges.each do |rrange| %>
      <tr>
        <td><%= rrange.name %></td>
        <td><%= rrange.zone %></td>
        <td><%= link_to 'Show', rrange %></td>
        <td><%= link_to 'Edit', edit_rrange_path(rrange) %></td>
        <td><%= link_to 'Destroy', rrange, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rrange', new_rrange_path %>
