<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rrange.name %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @rrange.zone %>
</p>

<%= link_to 'Edit', edit_rrange_path(@rrange) %> |
<%= link_to 'Back', rranges_path %>
